body {
    background-image: url(img/Many_Book_Library_468620.jpg);



}

h1{

    text-align: center;
     color:rgb(0, 0, 0);
     background-color: brown;
     padding: 10px 10px 20px 30px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     -webkit-text-stroke: 1px;
     -webkit-text-stroke-color: rgba(255, 0, 0, 0.87)
    

     
 }
 
h3{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white
}

h4{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white
}

span{
    color: rgb(0, 0, 0);
    background-color: rgb(194, 187, 187);
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0)
}

figure {
    border: 10px #000000 solid;
    display: flex;
    flex-flow: column;
    padding: 20px;
    max-width: 450px;
    margin: auto;
}

img {
    max-width: 450px;
    max-height: 750px;


}

figcaption {
    background-color: #04d6fc;
    color: #000000;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

h5{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255)
}

strong{
    text-align: center;
}


